/*This Custom CSS file has not been structured in any particular order.*/

body{
  background-color: #fff;
  position: relative;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin: 0px;
  width:100%;
  min-height: 100vh;
  /*background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;*/
	background-color: rgb(244, 212, 203);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.projects a {
	text-decoration: none;
	color: #000;
}
.card{
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-subtitle {
  font-family:'Muli', Sans-Serif;
  font-weight: 300;
  color: #5d5d5d;
  margin-bottom: 20px;
}
.project-card {
	background-color: rgba(244, 212, 203, 0.5);
	margin: 20px 0px;
  border: 1px solid #efefef;
}

.project-card > img{
	margin: 0px;
}

.project-card:hover {
	background-color: rgba(244, 212, 203, 1.0);
}

/*Navbar Rules*/
img.nav-bar-img{
}

.navbar{
  background-color: #fff;
  box-shadow: 0px -2px 8px #efefef;
}

a.navbar-brand{
  font-family:'Source Sans Pro', Sans-Serif;
  font-size: 24px;
  font-weight: 700;
}

/*Floating Nav*/
.floating-nav{
  position: fixed;
  margin-top: 50px;

}

a.float-nav-link{
  font-family: 'Muli', Sans-Serif;
  color: #595959;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}


.nav-pills {
  size: 50px;
  border-radius: 50px;
}

/*Image Rules*/
img{
  /*border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;*/
  border: 0px solid #000000;
  margin: 10px 0px;
}

/*Typeface Rules*/
h1, h2, h3, h4, h5, h6 {
  font-family:'Source Sans Pro', Sans-Serif;
  font-weight: 700;
  margin-bottom: 20px;
}
h1.welcome-special{
  font-size: 72px;
  color: black;
  font-weight: 700;
}

h2.welcome-special-sub{
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 30px;
  color: black;
  font-weight: 600;
}

h1 {
  letter-spacing: -0.5px;
  font-size: 62px;
}

h2{
  letter-spacing: -0.5px;
  font-size: 42px;
  font-weight: 700;
}

h3{
  font-size: 28px;
  font-weight: 600;
}

h4{
  font-size: 18px;
  font-weight: 600;
}

p, li, span, a {
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-weight: 400;
}

p{
  color: #595959;
  line-height: 30px;
  margin-bottom: 25px;
}

span.img-caption{
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0px;
}

blockquote>p{
  text-align: center;
  font-weight: 200;
  color: #3366ff;
}

.highlight-text {
  text-align: center;
  padding:50px 60px;
  font-weight: 600;
  border: 3px solid #fc513f;
}

.listpara {
  text-align: center;
  background-color: #fff;
}

/*Container/class etc Override Rules*/
.welcome-message{
  margin-top: 150px;
  padding: 50px;
	text-align: left;
}

.welcome-button-container{
  margin-top: 30px;
  text-align: right;
}

.welcome-button{
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #0b375d;
  font-family:'Muli', sans-serif;
  font-size: 18px;
  color: #0b375d;
	transition: all .1s ease-in-out;
}

.welcome-button:hover{
  background-color: #0b375d;
  border-color: #0b375d;
  color: #fff;
}

span.tagline{
  color: #b5b5b5;
}

.row{
  margin-bottom: 50px;
}

.master-heading{
  text-align: center;
  padding: 200px 0px 30px 0px;
  background-color: #0b375d;
  color: #fff;

}

div.master-heading > div > p {
  text-align: center;
  color: white;
  max-width: 960px;
}

#designprocess {
	margin-top: 100px;
	position: relative;
	background:
	    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
			),
			url('../img/portfolio/drones-interaction-design/roughuisketches.JPG');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color: white;
}

.section-heading{
	padding-top: 100px;
	text-align: center;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
  margin-bottom: 0px;
	margin-top: 150px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
  box-shadow: 3px 3px 10px #efefef;
}
.footer .row{
  margin: 0px;
  padding: 0px;
}
