/*This Custom CSS file has not been structured in any particular order.*/

body{
  background-color: #fff;
  position: relative;
}

/*Home*/
.full-page-bg {
  position: relative;
  margin: 0px;
  width:100%;
  min-height: 100vh;
  /*background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;*/
	/*background-color: rgb(244, 212, 203);*/
  background: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#circle {
  position: absolute;
  left: 0px;
  top:20px;
  height: 200px;
  width: 200px;
  background-color: #ffb0b5;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}
#circlesbg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:-2;
}

/*Cards*/

.projects a {
	text-decoration: none;
	color: #000;
}
.card.welcome-message{
  border: none;
  background: none;
}
.welcome-message > .card-body {
  padding-left: 80px;
}

.card-subtitle {
  font-family:'Muli', Sans-Serif;
  font-weight: 500;
  color: #5d5d5d;
  margin-bottom: 20px;
}
.project-card{
	margin: 20px 0px;
  border: 1px solid #efefef;
}
.project-card>.card-img-overlay {
	background-color: rgba(244, 212, 203, 0.9);
  opacity: 0;
  padding: 50px 50px;
  transition: all .2s ease-in;
}

.card-img-overlay:hover {
	opacity: 1;
  border: 0px;
}

.project-card > .row {
  margin: 0;
}

.project-card .card-img{
  margin: 0;
  position: relative;
  height: 400px;
  object-fit:cover;

}


/*Navbar Rules*/
.navbar{
  background-color: #fff;
  box-shadow: 0px -2px 8px #efefef;
}

a.navbar-brand{
  font-family:'Source Sans Pro', Sans-Serif;
  font-size: 24px;
  font-weight: 700;
}

.navbar-brand-home {
  opacity: 0;
}

a.nav-item.nav-link {
	position:relative;
	margin-left: 30px;
}
a.nav-item.nav-link::after {
  border-top: .3em solid  rgba(244, 212, 203, 1.0);
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0em;
  left: 0;
  transition: right .4s ease-in;
}

a.nav-item.nav-link:hover::after {
  right: 0;
}

.navbar-toggler {
  border: none;
}

/*Floating Nav*/
.floating-nav{
  position: fixed;
  margin-top: 50px;

}

a.float-nav-link{
  font-family: 'Muli', Sans-Serif;
  color: #595959;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}


.nav-pills {
  size: 50px;
  border-radius: 50px;
}

/*Image Rules*/
img{
  /*border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;*/
  border: 0px solid #000000;
  margin: 10px 0px;
}

/*Typeface Rules*/
h1, h2, h3, h4, h5, h6 {
  font-family:'Source Sans Pro', Sans-Serif;
  font-weight: 700;
  margin-bottom: 20px;
}
h1.welcome-special{
  font-size: 62px;
  color: black;
  font-weight: 700;
}

.welcome-special-sub{
  font-family: 'Muli', Sans-Serif;
  font-size: 30px;
  color: black;
  font-weight: 400;
}

h1 {
  letter-spacing: -0.5px;
  font-size: 56px;
}

h2{
  letter-spacing: -0.5px;
  font-size: 42px;
  font-weight: 700;
}

h3{
  font-size: 28px;
  font-weight: 600;
}

h4{
  font-size: 18px;
  font-weight: 600;
}

p, li, span, a {
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-weight: 400;
}

p{
  color: #000;
  line-height: 30px;
  margin: 25px 0px;
}

h1 > .underline, h2 > .underline{
  font: inherit;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #03c6fc 35%);
}

.welcome-message sup{
  color: blue;
}

.master-heading p {
  color: #efefef;
}

span.img-caption{
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

blockquote>p{
  text-align: center;
  font-weight: 200;
  color: #3366ff;
}

.highlight-text {
  text-align: center;
  padding:50px 60px;
  font-weight: 600;
  border: 3px solid #fc513f;
}

.listpara {
  text-align: center;
  background-color: #fff;
}

/*Container/class etc Override Rules*/
.tag {
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: transform 0.8s, opacity 0.8s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.welcome-message{
  margin-top: 150px;
  padding: 50px;
	text-align: left;
}

.welcome-button-container{
  margin-top: 100px;
  text-align: center;
}

.welcome-button{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #0b375d;
  font-family:'Muli', sans-serif;
  font-size: 18px;
  color: #0b375d;
	transition: all .1s ease-in-out;
}

.welcome-button:hover{
  background-color: #0b375d;
  border-color: #0b375d;
  color: #fff;
}

.back-button{
  border-color: #0b375d;
  color: #0b375d;
}

.back-button:hover{
  background-color: #0b375d;
}

span.tagline{
  color: #b5b5b5;
}

.row{
  margin-bottom: 50px;
}

.master-heading{
  text-align: center;
  padding: 200px 0px 50px 0px;
  /* background-color: #0b375d; */
  color: #000;
}

div.master-heading > div > p {
  color: black;
  max-width: 960px;
}

hr {
  margin: 50px;
}

#designprocess {
	margin-top: 100px;
	position: relative;
	background:
	    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
			),
			url('../img/portfolio/drones-interaction-design/roughuisketches.JPG');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color: white;
}

.section-heading{
	padding-top: 100px;
	text-align: center;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

video {
  width:70%  !important;
  height: auto  !important;
}

/*Footer*/
.footer{
  margin-bottom: 0px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
  border-top: 0.5px solid #efefef;

}
.footer .row{
  margin: 0px;
}

h4 > .underline {
  font-weight: bold;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #f5dc62 35%);
}
